<%= form_with(model: survey, local: true) do |f| %>
  <% if survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
        <% survey.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p class="row">
    <%= f.label :name, "Survey", :class => "label"%><br/>
    <%= f.text_area :name, :rows => 3 %>
  </p>

  <div class="field">
    <%= f.fields_for :questions do |builder| %>
      <%= render 'question_fields', f: builder %>
    <% end %>
  </div>
  <%= link_to_add_fields 'Add Question', f, :questions, :class => "btn red" %>

  <div class="actions">
    <i class="material-icons right"><%= f.submit :class => "btn blue" %></i>
  </div>
  <br/>
  <hr/>
<% end %>
