<%= form_with(model: survey, local: true) do |f| %>
  <% if survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
        <% survey.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p class="field">
    <%= f.label :name, "Survey" %><br/>
    <%= f.text_area :name, :rows => 3 %>
  </p>

  <div class="field">
    <%= f.fields_for :questions do |ff| %>
      <fieldset>
        <%= ff.label :content, "Question" %><br/>
        <%= ff.text_area :content %><br/>
        <%= ff.check_box :_destroy %>
        <%= ff.label :_destroy, "Remove Question" %>

        <%= ff.fields_for :answers do |fff| %>
          <%= fff.label :content, "Answer" %>
          <%= fff.text_field :content %>
          <%= fff.check_box :_destroy %>
          <%= fff.label :_destroy, "Answer Remove" %>
        <% end %>
        <%= link_to_add_fields 'Add Answer', ff, :answers %>
      </fieldset>
    <% end %>
  </div>
  <%= link_to_add_fields 'Add Question', f, :questions %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
